<footer class="grid md:relative h-auto md:justify-content-between md:pr-4 z-0">
  <div class="col-12 md:col flex justify-content-center md:justify-content-start w-full">
    <div class="col-9 md:col lg:col-3 flex justify-content-center md:block lg:absolute xl:absolute md:bottom-0 md:pl-7 md:p-0 lg:pb-8">
      <img src="/images/background/logo_orbis.svg" class="w-11rem md:w-14rem" alt="">
    </div>
  </div>
  <div class="col md:col flex relative grid justify-content-center text-left">
    <div class="col lg:col xl:col">
      <ul class="list-none line-med">
        <li><a href="" class="no-underline text-black-alpha-90">Productos</a></li>
        <li><a href="" class="no-underline text-black-alpha-90">Servicios</a></li>
        <li><a href="" class="no-underline text-black-alpha-90">¿Qui&eacute;nes somos?</a></li>
        <li><a href="" class="no-underline text-black-alpha-90">Socios comerciales</a></li>
        <li><a href="" class="no-underline text-black-alpha-90">Puntos de venta</a></li>
        <li><a href="" class="no-underline text-black-alpha-90 hidden md:hidden lg:block">¿Quieres ser distribuidor?</a></li>
      </ul>
    </div>
    <div class="relative col lg:col xl:col">
      <ul class="list-none line-height-4">
        <li class="font-bold">Contacto</li>
        <li>+52 771 145 0476</li>
        <li>ventas@orbiscorp.com.mx</li>
        <br class="hidden md:hidden lg:block">
        <li class="hidden md:hidden lg:block">
          <ul class="list-none line-height-4 p-0">
            <li class="font-bold">Redes</li>
            <li>
              <a href="www.facebook.com" class="cursor-pointer no-underline text-black-alpha-90">
                Facebook
              </a>
            </li>
            <li>
              <a href="www.linkedin.com" class="cursor-pointer no-underline text-black-alpha-90">Linkedin</a>
            </li>
            <li>
              <a href="www.youtube.com" class="cursor-pointer no-underline text-black-alpha-90">YouTube</a>
            </li>
          </ul>
        </li>
        <li class="grid p-3 column-gap-3 block md:block lg:hidden">
          <a href="www.facebook.com">
            <img src="/images/svg/icon_facebook.svg" alt="">
          </a>
          <a href="www.linkedin.com">
            <img src="/images/svg/icon_linkedin.svg" alt="">
          </a>
          <a href="www.youtube.com">
            <img src="/images/svg/icon_youtube.svg" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
