<header class="">
    <nav class="flex align-items-center flex-row justify-content-between flex-wrap p-2 px-3">
        <a class="mt-2" href="#">
            <object data="/images/background/logo_orbis.svg" width="80" height="50"></object>
        </a>
        <div class="flex justify-content-between flex-wrap font-bold text-sm">
            <div class="block md:block lg:hidden">
                <a id="menu_toggle" class="cursor-pointer">
                    <img src="/images/svg/hamburger.svg" class="icon_menu" alt="menu" >
                </a>
            </div>
            <ul class="hidden md:hidden lg:block">
                <li class="links inline px-3 align-items-center ">Productos</li>
                <li class="links inline px-3 align-items-center ">Servicios</li>
                <li class="links inline px-3 align-items-center ">¿Quienes s&oacute;mos?</li>
                <li class="links inline px-3 align-items-center ">Socios comerciales</li>
                <li class="links inline px-3 align-items-center ">Puntos de venta</li>
                <li class="links inline px-3 align-items-center ">
                    <button class="links btn btn-contact py-1 px-5">Contacto</button>
                </li>
            </ul>
        </div>
        <div id="menu" class="relative hidden lg:hidden flex-column z-0 bg-white w-screen h-auto left-0 font-bold">
            <div class="m-0 px-4 py-5 relative"><a href="#" class="no-underline text-black-alpha-90 cursor-pointer absolute w-full h-full">Productos</a></div>
            <div class="m-0 p-4 py-5 relative "><a href="" class="no-underline text-black-alpha-90 cursor-pointer absolute w-full h-full">Servicios</a></div>
            <div class="m-0 p-4 py-5 relative "><a href="" class="no-underline text-black-alpha-90 cursor-pointer absolute w-full h-full">¿Qui&eacute;nes s&oacute;mos</a></div>
            <div class="m-0 p-4 py-5 relative "><a href="" class="no-underline text-black-alpha-90 cursor-pointer absolute w-full h-full">Socios comerciales</a></div>
            <div class="m-0 p-4 py-5 relative "><a href="" class="no-underline text-black-alpha-90 cursor-pointer absolute w-full h-full">Puntos de venta</a></div>
            <div class="m-0 p-4 py-5 relative"><a href="" class="no-underline text-black-alpha-90 cursor-pointer absolute w-full h-full">Contacto</a></div>
        </div>

    </nav>
</header>
